body{
    background-color: lightblue;
}
.topbar, ul{
    display: flex;
    height: 30px;
    width: auto;
    color: blue;
    justify-content: flex-end;
    flex-direction: row;
    margin: 0px;
    padding: 0px;
    list-style: none;  
}



.fa{
    padding: 10px;
    font-size: 15px;
    width: 10px;
    text-align: center;
    text-decoration: none;

}
.fa:hover{
    opacity:0.7
}
.fa-facebook{
    color: none;
}


.middlelogo{
    display: flex;
    height: 100;
    width: auto;
    color: antiqueBLACK;
}
.middlelogo, img{
    align-items: center;
    justify-content: center;
}
.belowlogo{
    display: flex;
    flex-direction: row;
    height: auto;
    width: auto;
    color: antiqueBLACK;

}

#line1 div{
    display: flex;
    flex-direction: column;
    background-color: AQUA;
    width: 180px;
    height: 70px;
    border: 2px solid BLACK;
    margin: 20px;
    text-align: center;
    
}
#line2 div{
    display: flex;
    flex-direction: column;
    background-color: AQUA;
    width: 180px;
    height: 70px;
    border: 2px solid BLACK;
    margin: 20px;
    text-align: center;
}
#line3 div{
    display: flex;
    flex-direction: column;
    background-color: aqua;
    width: 180px;
    height: 70px;
    border: 2px solid BLACK;
    margin: 20px;
    text-align: center;
}
#line4 div{
    display: flex;
    flex-direction: column;
    background-color: AQUA;
    width: 180px;
    height: 70px;
    border: 2px solid BLACK;
    margin: 20px;
    text-align: center;
}
#line5 div{
    display: flex;
    flex-direction: column;
    background-color: AQUA;
    width: 180px;
    height: 70px;
    border: 2px solid BLACK;
    margin: 20px;
    text-align: center;
}
#line6 div{
    display: flex;
    flex-direction: column;
    background-color: AQUA;
    width: 180px;
    height: 70px;
    border: 2px solid BLACK;
    margin: 20px;
    text-align: center;
}

.footer{
    display: flex;
    height: 250px;
    width: auto;
    flex-direction: row;
    color: black;
    background-color: lightblue;
}
#footer1{
    display: flex;
    flex-direction: column;
    background-color: lightcyan;
    width: 300px;
    height: auto;
    border: 2px solid lightblue;
    margin: 20px;
    text-align: center;
}
#footer2{
    display: flex;
    flex-direction: column;
    background-color: lightcyan;
    width: 300px;
    height: auto;
    border: 2px solid lightblue;
    margin: 20px;
    text-align: center;
}
#footer3{
    display: flex;
    flex-direction: column;
    background-color: lightcyan;
    width: 300px;
    height: auto;
    border: 2px solid lightblue;
    margin: 20px;
    text-align: center;
}
#footer4{
    display: flex;
    flex-direction: column;
    background-color: lightcyan;
    width: 300px;
    height: auto;
    border: 2px solid lightblue;
    margin: 20px;
    text-align: center;
}
