body{
    background-color: pink;
}
h1{
    font-size: 80px;
}
.first{
    display: flex;

}
.first div{
    background-color: aqua;
    width: 200px;
    height: 100px;
    border: 2px solid black;
    margin: 20px;
}
.first{
    flex-shrink: 2;
}
