body{
    background:aquamarine ;
}
#header-img{
    display: center;
}
h1{
    padding-top: -80%;
    font-size: 50px;
}
#nav-bar{
    justify-self: auto;
    font-size: 30px;
}
h2{
    font-size: 30px;
}
p{
    font-size: 25px;
}