
body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background:aquamarine ;
}
#header{
  
    width: 3000vw;
    height: 200px;
    justify-items: center;
    
}
h1{
    padding-top: -80%;
    font-size: 50px;
}
#nav-bar{
    background: yellowgreen;
    padding: flex;
    display: flex;
    position:fixed;
    margin: 5px;
    top: 0;
    text-align: right;

    font-size: 30px;
}
#nav-link{
-ms-flex-align: end;
}
h2{
    font-size: 30px;
}
p{
    font-size: 25px;
}