
.header{
    min-height: 100vw;
    display: flex;
}
.header div {
    display: flex;
    flex-direction:row;
    background-color: black;

}
.header-logo{
    background:white;
    width: 500px;
    height: 100px;
    position: absolute;
    top: 50;
    left: 200;
    
    
}
.center {
  margin-left: 400px;
  margin-right: auto;
 
}

.header{
    display: flex;
    flex-direction: row;
  
}
.header div{
    background: rgb(250, 218, 218);
    width: 500px;
    height: 50px;
    
    font-size: 29px;
    border: 1px solid rgb(185, 142, 240);
}
.content{
    display: flex;
    flex-direction: column;
    background: aquamarine;
    width: min-content;
    height: 700;
    font-size: 20;

}
img{
    width: 200;
    height: 200;
}

