.{
    margin: 0;
}
head{
    min-height: 100vh;
    display: flex;
}
#header-logo{
    display: flex;
    flex-direction: row;
}
.header-logo{
    background:white;
    width: 50px;
    height: 100px;
    position: absolute;
    top: 50;
    left: 200;
    
    
}
.center {
  display: block;
  margin-left: 700px;
  margin-right: auto;
}

.header{
    display: flex;
    flex-direction: row;
  
}
.header div{
    background: rgb(250, 218, 218);
    width: 500px;
    height: 50px;
    
    font-size: 40px;
    border: 1px solid rgb(185, 142, 240);
}
.content{
    display: flex;
    flex-direction: column;
    background: aquamarine;
    width:1515;
    height: auto;
    font-size: 35;

}
img{
    width: 400;
    height: 400;
}

