
#grid{
    background: aqua;
display: grid;
grid-template-columns: repeat(5,1fr);
}
#grid div{
    width: 100px;
    height: 100px;
}
#grid div:nth-child(2n){
    background: blue;

}
#grid div:nth-child(2n+1){
    background: red;
}

