
#grid{
    background: aqua;
display: grid;
grid-template-columns: 1fr 2fr 3fr ;
grid-template-rows: 150px 200px 250px;
}
#grid div{
    width: 100px;
    height: 100px;
}
#grid div:nth-child(2n){
    background: blue;

}
#grid div:nth-child(2n+1){
    background: red;
}

