
#grid{
    background: aqua;
display: grid;
height: 100vh;
align-items: center;
justify-content: center;
}
#grid div{
    width: 100px;
    height: 100px;
}
#grid div:nth-child(2n){
    background: blue;

}
#grid div:nth-child(2n+1){
    background: red;
}

