body{
    background: mediumturquoise;
}
#grid{
    display: grid;
    background: red;
    grid-template-columns: 1fr 2fr 3fr 4fr;
    grid-template-rows: 1fr 2fr 3fr 4fr ;
}
div{
    background: black;
    color: beige;
    grid-row: span 4;
    grid-column: span 2;
}