.{
    margin: 0;
}
body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

nav,footer {
    flex-shrink: 0;
}
section{
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
}
nav ul{
    display: flex;
    justify-content: flex-end;
    flex-direction: row;

}
nav ul li{
    padding: flex;
    margin: 2px;
    list-style: none;
}
#logo{
    width: 80vw;
    height: 200px;
    background: red;
    font-size: 180px;
    text-align: center;
}


.layer{
    padding: 10px 5px;
    border-bottom: 2px solid green;
    background: white;
    direction: bottom;
}
