body{
    background: lightcyan;
}
h1{
    color: blueviolet;
    text-decoration: underline;
}
#new {
    color: blue;
    font-size: x-large;
}
#new1 {
    color: darkgreen;
    font-size: x-large;
}
h2 {
    color: darkred;
    text-decoration: underline;
}
ul li[data-tag="cri"]{
    color:rgb(29, 185, 206)
}
ul li[data-tag="che"]{
    color:rgb(22, 230, 84)
}
ul li[data-tag="cod"]{
    color:rgb(216, 90, 6)
}
ul li[data-tag="play"]{
    color:rgb(247, 8, 8)
}
ul li:not([data-tag]){
    color:rgb(4, 4, 5)
}